.carousel{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    /* // create 4 colem gap=12 * 3(space)=36   9*4=36(-colume width) */
    grid-auto-columns: calc((100%/4) - 9px);
    overflow: hidden;

    scrollbar-width: none;
    /* // for child scrool snap effect */
    scroll-snap-type: x mandatory;
   
}
.card{
    background: blue;
    height: 50%;
    /* // set scroll value to start */
    scroll-snap-align: start;
}

@media(max-width:800px){
grid-auto-columns: calc((100%/3)-8px);
}
@media(max-width:400px){
    
    grid-auto-columns: calc((100%/1));
    
}

.carousel{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    /* // create 4 colem gap=12 * 3(space)=36   9*4=36(-colume width) */
    grid-auto-columns: calc((100%/4) - 9px);
    overflow: hidden;

    scrollbar-width: none;
    /* // for child scrool snap effect */
    scroll-snap-type: x mandatory;
   
}
.card{
    background: blue;
    height: 50%;
    /* // set scroll value to start */
    scroll-snap-align: start;
}

@media (max-width:800px) {

    /* grid-auto-columns:calc((100%/3)-8px); */
    grid-template-columns: calc((100%/3)-8px);
}
@media (max-width:400px) {
    
    grid-auto-columns: calc((100%/1));
    
}