:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #04152d;
    --black2: #041226;
    --black3: #020c1b;
    --black-lighter: #1c4b91;
    --black-light: #173d77;
    --pink: #1e77de;
    --orange: #f89e00;
    --gradient-2: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    --gradient: linear-gradient(
       
    45deg,
    hsl(240deg 100% 47%) 0%,
    hsl(311deg 100% 44%) 10%,
    hsl(333deg 100% 50%) 20%,
    hsl(4deg 100% 60%) 30%,
    hsl(39deg 100% 50%) 40%,
    hsl(55deg 100% 50%) 50%,
    hsl(47deg 100% 50%) 60%,
    hsl(39deg 100% 50%) 70%,
    hsl(30deg 100% 50%) 80%,
    hsl(20deg 100% 50%) 90%,
    hsl(0deg 100% 50%) 100%
      );;
      --main-g: linear-gradient(to right, #434343 0%, black 100%);
    //   2ns custom
    //   --main-g:linear-gradient(
    //     90deg,
    //     hsl(0, 0%, 2%) 0%,
    //     hsl(344deg 0% 16%) 14%,
    //     hsl(0, 1%, 13%) 29%,
    //     hsl(344deg 0% 21%) 43%,
    //     hsl(0, 0%, 8%) 57%,
    //     hsl(0, 0%, 22%) 71%,
    //     hsl(344deg 0% 18%) 86%,
    //     hsl(0deg 0% 0%) 100%
    //   );

    //   1st
    //   --main-g:linear-gradient(
    //     90deg,
    //     hsl(0, 0%, 2%) 0%,
    //     hsl(344deg 0% 16%) 14%,
    //     hsl(0, 1%, 13%) 29%,
    //     hsl(344deg 0% 21%) 43%,
    //     hsl(0, 1%, 29%) 57%,
    //     hsl(344deg 0% 36%) 71%,
    //     hsl(344deg 0% 18%) 86%,
    //     hsl(0deg 0% 0%) 100%
    //   );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: var(--black);
    background-image: var(--main-g);
    // background-color: var(--main-g);
    
}

::-webkit-scrollbar {
    display: none;
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #09090900;
    // background-color: #ff2424;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image:var(--main-g);
        animation: shimmer 2s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

